@model Instrument

@{
    ViewData["Title"] = "Details";
}

<h1>Instrument Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Key</p>
    

        <a href="/Instrument/Index" class="btn btn-primary">Back To List</a>
    </div>
</div>

