@model Song
@{
    ViewData["Title"] = "Create";
}

<h1>Create Song</h1>
<br />
<br />
<form method="post" action="/Song/Create">

    <div class="form-group">
        <label for="pwd">Title:</label>
        <input type="number" class="form-control" value="@Model.Title" placeholder="Enter Title" name="Title" id="Title">
    </div>
    <div class="form-group">
        <label for="pwd">Author:</label>
        <input type="text" class="form-control" value="@Model.Author" placeholder="Enter Author" name="Author" id="Author">
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>